/**
 * FIT3140 - Assignment 5. Team 29. 
 *
 * index.scss: Defines basic styling for the webpage.
 *
 * @author Matthew Ready, Li Cheng
 */

body {
    font-family: 'rubiklight';
}

h1 {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 42px;
}

.control-table {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    
    border-radius: 2px;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #E0E0E0;
    background-color: #E8E8E8;
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.2);
        
    h2 {
        font-family: 'rubikmedium';
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 32px;
        text-align: center;
    }
    
    div.value-row {
        margin-top: 20px;
        font-size: 18px;
        width: 100%;
        color: #111;
        text-align: left;
    
        div.right-side {
            float: right;
            position: relative;
            text-align: center;
        }
        
        div.value {
            font-family: 'rubikmedium';
        }

        a {
            display: inline-block;
            width: 100%;
            text-align: center;
            color: black;
            text-decoration: none;
            transition: all 0.4s ease;

            span {
                border-bottom: 1px dashed black;
                transition: all 0.4s ease;
            }

            &:hover {
                color: red;

                span {
                    border-color: red;
                }
            }
        }
    }
}

label.anim-checkbox {
    input[type=checkbox] {
        display: none;
    }
    span.bg {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 16px;
        border-radius: 8px;

        background: rgba(217,217,217,1);
        background: linear-gradient(to bottom, rgba(181,181,181,1) 0%, rgba(161,161,161,1) 100%);
        transition: all 0.4s ease;
        overflow: hidden;
        box-shadow: 0 0 4px -2px black;
    }
    span.bg-glow {
        position: absolute;
        display: inline-block;
        width: 32px;
        height: 16px;
        border-radius: 8px;
        left: 0px;
        opacity: 0.0;
        background: rgba(0,246,255,0);
        background: linear-gradient(to bottom, rgba(173,161,161,1) 0%, rgba(179,84,84,1) 100%);
        transition: all 0.4s ease;
    }
    span.dot {
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: red;
        background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(161,161,161,1) 100%);
        box-shadow: 0 0 2px -1px rgba(0,0,0,0.2);
        transition: all 0.4s ease;
        left: 0px;
    }
    input[type=checkbox]:checked ~ span.bg {
        box-shadow: 0 0 4px -2px rgba(255,0,0,1);
    }
    input[type=checkbox]:checked ~ span span.dot {
        background-color: blue;
        left: 16px;
        box-shadow: 0 0 4px 0px rgba(255,120,120,0.4);
        background: linear-gradient(to bottom, rgba(247,230,230,1) 0%, rgba(255,120,120,1) 100%);
    }
    input[type=checkbox]:checked ~ span span.bg-glow {
        opacity: 1.0;
    }
}
